
<div class="w3-main" style="margin-left:160px;margin-top:43px;margin-right:10px">

<!-- Header -->

   <header class="w3-container" style="padding-top:22px">
     <div class="w3-panel">
     <p>app status: <span id="appStatus">{{{state}}}</span></p>
     </div>
   </header>

<script>
	let openTenantPane = function(paneID){
        let x = document.getElementById(paneID);
  		if (x.className.indexOf("w3-show") == -1) {
    		x.className += " w3-show";
  		} else { 
    		x.className = x.className.replace(" w3-show", "");
  		}
    }
</script>

     <div class="w3-container" ID="tenantCards">
		{{#each tenants}}
		<button onclick='openTenantPane("{{this.name}}Panel")' class="w3-button w3-block w3-left-align w3-green">
            {{this.name}}: &nbsp; Last Update: {{this.lastUpdate}}
        </button>
		<div id="{{this.name}}Panel" class="w3-hide w3-container w3-light-grey">
			<div class="w3-card ws-margin-16" ID="{{this.name}}">

			<div class="w3-container">
				<p>Services: <UL>
					{{#each services}}
					<LI>
                        ID:{{this.id}} 
                        {{#if this.billingualDoc}}
                            - has billingual documentation
                        {{/if}}
                    </li>
                    {{/each}}
				</UL></p>
			</div>
			<footer class="w3-container w3-blue">
				<div class="w3-center w3-padding-16"></div>
			</footer>
		</div>
			
		</div>
	<br>	
		{{/each}}
	 </div>
</div>


