 <div ID='APIntel' style="width:30%; margin-left:10px">
	<center><h2>Visible APIs</h2></center>
    <select id="visibleAPISelect" class="w3-select" name='option'>

        {{#each tenants}}
        <option value='{{this.name}}'>{{this.name}}</option>
        {{/each}}
    </select>
	{{#each tenants}}
    <table  class='w3-table w3-bordered tenantsVisibleAPI' 
            style='display:none' 
            id='{{this.name}}VisibleAPI' width="100%">

		{{#each this.services}}
        <tr>
			{{#if this.billingualDoc}}
			<td>{{this.name}}</td>
            <td>{{this.id}}</td>
			{{/if}}
        </tr>
        {{/each}}
    </table>
	{{/each}}
</div>
