{{>modalServiceInspect/frame}}
<div ID='APIntel' style="width:100%; margin-left:10px">
	<center><h2>Visible APIs</h2></center>

    <select id="visibleAPISelect" class="w3-select" name='option'>
        {{#each tenants}}
        <option value='{{this.name}}'>
            {{this.name}} ({{this.numVisibleServices}})
        </option>
        {{/each}}
    </select>

	{{#each tenants}}
    <table  class='w3-table w3-bordered w3-hoverable tenantsVisibleAPI' 
            style='display:none' 
            id='{{this.name}}VisibleAPI' width="100%">

		{{#each this.services}}
			{{#if this.billingualDoc}}
             <tr class="serviceInspect">
			    <td class="serviceName">{{this.name}}</td>
                <td class="serviceID">{{this.id}}</td>
            </tr>
			{{/if}}
        {{/each}}
    </table>
	{{/each}}
</div>
